# Ignore everything
*

# But don't ignore these files and directories
!.gitignore
!/.copilot/
!/.vscode/
!/docs/
!/src/
!/test/
!/data/
!/public/
!/resources/
!/scripts/
!scripts/*.ps1
!scripts/*.md
!pyproject.toml
!README.md
!LICENSE
!SETUP.md
!poetry.lock


